<form action="/task" method="post">
    <input type="text" name="task" placeholder="Enter a new task...">
    <button type="submit"><img src="/graphics/accept.png" alt="accept" class="btn-accept"></button>
</form>

<a href="/task"><< Cancel</a>

<h2>List of tasks:</h2>

<div class="list-wrapper">
    <ol>
        {{#each tasks}}
            <li>
                {{this.task}}
                    <form action="/task/{{this._id}}?_method=delete" method="post" class="task-form">
                        <button type="submit"><img src="/graphics/trash.png" alt="trash" class="btn-delete"></button>
                    </form>

                    <form action="/task/edit/{{this._id}}" method="get" class="task-form" >
                        <button type="submit"><img src="/graphics/edit.png" alt="edit" class="btn-edit"></button>
                    </form>
            </li>
        {{/each}}
    </ol>
</div>
