<p>You are editing task: "{{task.task}}"</p>
<form action="/task/{{task._id}}?_method=put" method="post">
    <input type="text" name="task" value="{{task.task}}">
    <button type="submit"><img src="/graphics/accept.png" alt="accept" class="btn-accept"></button>
</form>

{{>go-to-main}}
