<form action="/task/add" method="get">
    <button type="submit" class="btn-add-task">Add a task</button>
</form>

<form action="/task/search" method="get">
    <input type="text" name="search" placeholder="Find a task...">
    <button type="submit" class="btn-search">Search</button>
</form>

<h2>Found tasks:</h2>

<div class="list-wrapper">
    <ol>
        {{#each tasks}}
            <li>
                {{this.task}}

                <form action="/task/{{this.id}}?_method=delete" method="post" class="task-form">
                    <button type="submit"><img src="../graphics/trash.png" alt="trash" class="btn-delete"></button>
                </form>

                <form action="/task/edit/{{this.id}}" method="get" class="task-form">
                    <button type="submit"><img src="../graphics/edit.png" alt="edit" class="btn-edit"></button>
                </form>

            </li>
        {{/each}}
    </ol>
</div>

{{>go-to-main}}
